In [2]:
#import data set using pandas

import pandas as pd

In [3]:
pwd

'C:\\Users\\John Lardis\\Unit-2-Homework-Assignment-Automate-Your-Day-Job-with-Python'

In [4]:
#testing to use full file name in case file is outside of working folder 
pd.read_csv('C:\\Users\\John Lardis\\Unit-2-Homework-Assignment-Automate-Your-Day-Job-with-Python\\budget_data.csv')

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [5]:
#setting a new variable for budget_data 
df = pd.read_csv('budget_data.csv')

In [14]:
# The total number of months included in the dataset.

month_count = df["Date"].count()

print(month_count)

86

In [18]:
# The net total amount of Profit/Losses over the entire period.

total_pnl = 0

total_pnl = df["Profit/Losses"].sum()

print(total_pnl)

38382578

In [71]:
# The average of the changes in Profit/Losses over the entire period

# First insert a pnl_change column 


df['pnl_change'] = df["Profit/Losses"]- df["Profit/Losses"].shift()
df

pandas.core.frame.DataFrame

In [58]:
date = df["Date"]

In [59]:
# calculate change (mean) in pnl_column 

pnl_change_average = df["pnl_change"].mean()

print(pnl_change_average)

-2315.1176470588234

In [54]:
# The greatest decrease in losses (date and amount) over the entire period.

pnl_change_min = df["pnl_change"].min()

print(pnl_change_min)

-2196167.0

In [55]:
#The greatest increase in profits (date and amount) over the entire period.

pnl_change_max = df["pnl_change"].max()

print(pnl_change_max)

1926159.0

In [78]:
# find the dates for max and min values 
# this means find the key that relates to the min and max values

pnl_change_max_date = df.loc[df['pnl_change'] == pnl_change_max, 'Date'].unique()

print(pnl_change_max_date)

pnl_change_min_date = df.loc[df['pnl_change'] == pnl_change_min, 'Date'].unique()

print(pnl_change_min_date)

['Feb-2012']
['Sep-2013']

In [ ]:
# Yes it works!!! Logic applied - the file being reference is a dataframe (not dictionary or a list hence why the other attempts failed)
# Synthax works by looking up a value (loc) in the defined dataset (df) and return the value of the location of the column "Date" when the value in "pnl_change" is equal (==) to the pnl_change_max value

In [ ]:
#test ouput via print

In [128]:

print(f"Financial Analysis\n")
print(f"----------------------------\n")
print(f"Total Months: {month_count:,}")
print(f"Total: ${total_pnl:,.0f}")
print(f"Average Change: ${pnl_change_average:,.0f}")
print(f"Greastest Increase in Profits:{pnl_change_max_date} ${pnl_change_max:,.0f}")
print(f"Greastest Decreasse in Profits:{pnl_change_min_date}, ${pnl_change_min:,.0f}")

Financial Analysis

----------------------------

Total Months: 86
Total: $38,382,578
Average Change: $-2,315
Greastest Increase in Profits:['Feb-2012'] $1,926,159
Greastest Decreasse in Profits:['Sep-2013'], $-2,196,167

In [ ]:
#print output file

In [118]:
# Set output file name
output_path = 'output.txt'

# Open the output path as a file object
with open(output_path, 'w') as file:
    # Write daily_average to the output file, convert to string
    file.write(f"Financial Analysis\n")
    file.write(f"----------------------------\n")
    file.write(f"Total Months: {month_count:,}\n")
    file.write(f"Total: ${total_pnl:,.0f}\n")
    file.write(f"Average Change: ${pnl_change_average:,.0f}\n")
    file.write(f"Greastest Increase in Profits:{pnl_change_max_date} ${pnl_change_max:,.0f}\n")
    file.write(f"Greastest Decreasse in Profits:{pnl_change_min_date} ${pnl_change_min:,.0f}\n")

In [ ]:
line.translate(None, '[]')